@import "../../styles/colors";

#ea-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .ant-form-item-label {
    font-weight: bold;

    label {
      color: $color-gray-dark;
    }
  }
}
