@import "~antd/dist/antd.css";
@import "../../../styles/colors";

.event-pin {
  margin-top: -15px;
  margin-left: -15px;
  position: relative;
  background-color: $color-white;
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;

  .event-pin__icon {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: grey;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
    object-fit: fill;

    &.active {
      border: 3px solid $color-green;
    }
  }

  &__hover {
    width: 286px;

    img {
      width: 286px;
      height: 161px;
      border-radius: 4px 4px 0 0;
    }
  }
}

.ant-popover-inner-content {
  padding: 0px;

  .ant-card {
    border-radius: 8px;

    .ant-card-meta-detail > div:not(:last-child) {
      margin-bottom: 0px;
    }

    .ant-card-body {
      padding: 12px 24px 12px 24px;
    }
  }

  .ant-card-actions {
    background: unset;

    li {
      margin: 8px 0;
      border-right: none;
    }
  }
}
